@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

html {
    font-family: Fredoka, Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.page-title {
    padding: 35px 0;
    text-align: center;
    color: #e5316f;
    font-size: 30px;
}

.paragraph {
    margin: 0 10px;
    padding: 25px 0 50px 0;
    text-align: center;
    font-size: 20px;
    color: #383b41;
}

/* col */
.col {
    float: left;
    width: calc(100% / 3);
}

/* card */
 .clearfix::after {
    content: "";
    display: table;
    clear: both;
 }

.card {
    height: 110px;
    background-color: #100e17;
    color: white;
    margin: 0 10px 50px 10px;
}

a {
    color: #46adde;
}

.card img {
    max-height: 110px;
    float: left;
}

.card-info {
    margin-left: 120px;
    padding: 20px;
}

.card-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-info div {
    font-size: 16px;
    margin-bottom: 5px;
}

/* footer */
footer {
    background-color: #222222;
    padding-bottom: 30px;
}

.footer-text {
    color: #bbc1c6;
}